<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="modal.css" />
  </head>
  <body>
    <!-- <button class="login">login</button> -->
    <div class="modal-bg">
      <div class="modal">
        <h2>Add New Address</h2>
        <label for="name">Name<span>*</span> </label>
        <input type="text" id="name" name="name" />
        <label for="Mobile">Mobile No.<span>*</span> </label>
        <input type="number" id="phno" name="Mobile" />
        <label for="Address">Address<span>*</span></label>
        <input type="text" id="address" name="Address" />
        <input type="text" placeholder="Landmark" />
        <label for="pincode">Pincode<span>*</span></label>
        <input type="text" id="pincode" name="pincode" />
        <label for="state">State<span>*</span></label>
        <input type="text" id="state" name="state" />
        <label for="City">City<span>*</span></label>
        <input type="text" id="city" name="City" />
        <button onclick="proceed()">Save & Deliver</button>
        <span class="modal-close">X</span>
      </div>
    </div>
  </body>
</html>
<script src="modal.js"></script>
